@import "tailwindcss";
@import "tw-animate-css";
@import "@zayne-labs/ui-react/css/preset.css";

/* ------------------*/
/* App Colors        */
/*-------------------*/
@theme {
	--color-210-100-13: hsl(210, 100%, 13%);
	--color-201-100-9: hsl(201, 100%, 9%);
	--color-210-79-44: hsl(210, 79%, 44%);
	--color-210-79-55: hsl(210, 79%, 55%);
	--color-210-78-82: hsl(210, 78%, 82%);
	--color-210-77-95: hsl(210, 77%, 95%);

	--color-school-blue-500: hsl(209, 97%, 50%);

	--color-school-dark-blue-50: hsla(205, 100%, 99%);
	--color-school-dark-blue-200: hsl(210, 100%, 83%);
	--color-school-dark-blue-500: hsl(210, 100%, 13%);

	--color-school-green-50: hsl(133, 100%, 99%);
	--color-school-green-200: hsl(134, 47%, 80%);
	--color-school-green-500: hsl(133, 46%, 49%);

	--color-school-yellow-50: hsl(40, 100%, 98%);
	--color-school-yellow-200: hsl(40, 100%, 80%);
	--color-school-yellow-500: hsl(40, 100%, 50%);

	--color-school-darker-blue: hsl(201, 100%, 4%);
	--color-school-red-500: hsl(2, 84%, 59%);

	--color-school-body-color: hsl(0, 0%, 20%);
	--color-school-gray: hsl(313, 0%, 42%);
	--color-school-gray-lighter: hsl(0, 0%, 76%);
}

/* ------------------*/
/* Main Theme        */
/*-------------------*/
@theme {
	/* Breakpoints */
	--breakpoint-*: initial;
	--breakpoint-sm: 480px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1000px;
	--breakpoint-xl: 1280px;

	/* Fonts */
	--font-montserrat: "Montserrat", sans-serif;
	--font-outfit: "Outfit", sans-serif;

	/* Animations */

	--animate-shake: shake 0.2s ease-in-out 0s 3;

	/* Keyframes */

	@keyframes shake {
		0%,
		100% {
			transform: translateX(0rem);
		}
		25% {
			transform: translateX(0.6rem);
		}
		75% {
			transform: translateX(-0.6rem);
		}
	}
}

/* ------------------*/
/* Shadcn Theme      */
/*-------------------*/
@theme {
	--color-shadcn-background: hsl(0, 0%, 100%);
	--color-shadcn-foreground: hsl(222.2, 47.4%, 11.2%);

	--color-shadcn-primary: hsl(222.2, 47.4%, 11.2%);
	--color-shadcn-primary-foreground: hsl(210, 40%, 98%);

	--color-shadcn-secondary: hsl(210, 40%, 96.1%);
	--color-shadcn-secondary-foreground: hsl(222.2, 47.4%, 11.2%);

	--color-shadcn-popover: hsl(0, 0%, 100%);
	--color-shadcn-popover-foreground: hsl(222.2, 47.4%, 11.2%);

	--color-shadcn-accent: hsl(210, 40%, 96.1%);
	--color-shadcn-accent-foreground: hsl(222.2, 47.4%, 11.2%);

	--color-shadcn-muted: hsl(210, 40%, 96.1%);
	--color-shadcn-muted-foreground: hsl(215.4, 16.3%, 46.9%);

	--color-shadcn-input: hsl(214.3, 31.8%, 91.4%);
	--color-shadcn-border: hsl(214.3, 31.8%, 91.4%);
	--color-shadcn-ring: hsl(215, 20.2%, 65.1%);

	--color-shadcn-destructive: hsl(0 100% 50%);
	--color-shadcn-destructive-foreground: hsl(210 40% 98%);

	--color-shadcn-sidebar: oklch(0.985 0 0);
	--color-shadcn-sidebar-foreground: oklch(0.145 0 0);
	--color-shadcn-sidebar-primary: oklch(0.205 0 0);
	--color-shadcn-sidebar-primary-foreground: oklch(0.985 0 0);
	--color-shadcn-sidebar-accent: oklch(0.97 0 0);
	--color-shadcn-sidebar-accent-foreground: oklch(0.205 0 0);
	--color-shadcn-sidebar-border: oklch(0.922 0 0);
	--color-shadcn-sidebar-ring: oklch(0.708 0 0);

	--color-sonner-success-bg: hsl(150, 100%, 6%);
	--color-sonner-success-text: hsl(150, 100%, 90%);
	--color-sonner-success-border: hsl(147, 100%, 12%);

	--color-sonner-error-bg: hsl(358, 76%, 10%);
	--color-sonner-error-text: hsl(358, 100%, 81%);
	--color-sonner-error-border: hsl(357, 89%, 16%);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-collapsible-down: collapsible-down 0.2s ease-in-out;
	--animate-collapsible-up: collapsible-up 0.2s ease-in-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes collapsible-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-collapsible-content-height);
		}
	}

	@keyframes collapsible-up {
		from {
			height: var(--radix-collapsible-content-height);
		}
		to {
			height: 0;
		}
	}
}

/* ------------------*/
/* Legacy App Colors */
/*-------------------*/
@theme {
	--color-bgColor: #04427b;
	--color-bgTestimonials: #04427b;
	--color-bgTestimonials-65: rgba(4, 58, 123, 0.65);
	--color-borderBottom1: #ffc3f2;
	--color-borderBottom2: #9cdbff;
	--color-borderBottom3: #e9acff;
	--color-borderBottom4: #ff6d6d;
	--color-cosBlue: #028ddb;
	--color-cosBorder: #ffccf4;
	--color-cosInputText: #b2aeae;
	--color-cosWhite: #f8f8f8;
	--color-footerBg: #e8e8e8;
	--color-greenColor: #008000;
	--color-hoverBtn-75: rgba(2, 141, 219, 1);
	--color-inputColors: #f0f0f0;
	--color-optionsColor: #6c6b6c;
	--color-resultBtn: #ff59bd;
	--color-slitePlink: #e0f4ff;
	--color-starColor: #ff9900;
	--color-testiFont: #212121;
	--color-textWhite: #ffffff;
}

/* ------------------*/
/* Custom Properties */
/*-------------------*/
@layer base {
	:root {
		--chart-1: hsl(202, 98%, 43%);
		--chart-2: hsl(0, 100%, 71%);
		--chart-3: hsl(197, 37%, 24%);
		--chart-4: hsl(43, 74%, 66%);
		--chart-5: hsl(27, 87%, 67%);
	}

	.dark {
		--chart-1: hsl(220, 70%, 50%);
		--chart-2: hsl(160, 60%, 45%);
		--chart-3: hsl(30, 80%, 55%);
		--chart-4: hsl(280, 65%, 60%);
		--chart-5: hsl(340, 75%, 55%);
	}
}

/* ------------------*/
/* General CSS Reset */
/*-------------------*/
@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		height: 100%;
	}

	body {
		min-height: 100%;
	}

	html {
		scroll-behavior: smooth;
		-webkit-tap-highlight-color: transparent;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	input:focus-visible {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	img {
		width: 100%;
		max-inline-size: 100%;
		max-width: unset;
	}

	button {
		outline: transparent;
	}

	button:not(:disabled) {
		cursor: pointer;
	}

	body {
		line-height: 1.5;
		font-family: var(--font-outfit);
		color: var(--color-school-body-color);
	}

	body {
		--scrollbar-padding: 0px;
		--overflow-y: auto;
		overflow-y: var(--overflow-y);
		padding-right: var(--scrollbar-padding);
	}
}

@utility input {
	@apply mb-1.5 w-full max-w-40 rounded-xl border-2 border-cosBorder px-4 py-3 placeholder-cosInputText transition-all duration-300 focus:outline-hidden;
}

@utility options {
	@apply text-optionsColor;
}

@utility formInputs {
	@apply w-full bg-inputColors px-4 py-4 placeholder-cosInputText outline-hidden transition-all duration-300;
}

@utility custom-scrollbar {
	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		background-color: hsl(0, 0%, 76%);
		border-radius: 10px 10px 0 0;
	}

	&::-webkit-scrollbar-thumb {
		background-color: hsl(0, 0%, 39%);
		border: 1px solid hsl(0, 0%, 76%);
		border-radius: 10px;
	}
}

@utility scrollbar-hidden {
	&::-webkit-scrollbar {
		display: none;
	}
}
